.flex.mx-4
    button.bg-yellow-600.m-2.w-1of4
        a(href=routes.gitHub)
            span
                i.fab.fa-github.mx-1 
            |깃허브로 회원가입
    button.bg-yellow-600.m-2.w-1of4
        span
            i.fab.fa-facebook.mx-1 
        |Continue with Facebook 