extends layouts/main
include mixins/bookBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__books
        each item in books
            +bookBlock({
                cover:item.coverUrl,
                title:item.title,
                id:item.id
            }) 