mixin bookBlock(book = {})
    .w-full.md_w-1of4.xl_w-1of5.p-6.flex.flex-col
        a(href=routes.bookDetail(book.id))
            img.hover_grow.hover_shadow-lg(src=`/${book.thumbnail}`)
            h4=book.title
            h6=book.author
        